    @import url('https://fonts.googleapis.com/css2?family=Felipa&family=PT+Sans+Narrow&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

    .herencia {

font-size: 30px;
text-align: center;
font-family: 'Felipa', cursive;
background: linear-gradient(90deg, rgb(113, 101, 255) 35%, rgba(0, 212, 255, 1) 100%);
border: 2px solid purple;
border-radius: 0px 10px 0px 10px;
padding: 4px 20px 4px 20px;
    }

    .fondo {
        border: 2px dotted black;
        margin: 10px;
        background: #ffffff57;
    }

    .tercer {
        font-family: 'Shrikhand', cursive;
        padding: 10px 5px 10px 5px;
        color: purple;
        background: #c1ffc1;
    }

    p {
        font-family: 'Poppins', sans-serif;
    }
    span{
        text-decoration: line-through;
    }