@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
div {
    background-color: #74d3ff;
    color: darkblue;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}
