
body,
html {

    margin: 0px;
    border: none;
}

* {
    border: solid 4px;
    padding: 10px;
    margin: 20px;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0;
    border: none;
}

#cabecera {
    border-color: red;
}

#menu {
    border-color: gold;
}

#main {
    border-color: green;
}

h1 {
    border-color: fuchsia;
}

h2 {
    border-color: teal;
}

article {
    border-color: rosybrown;
}

section {
    border-color: brown;
}

aside {
    border-color: greenyellow;
}

footer {
    border-color: #ff8aeb;
}
p {
border-color: royalblue;
}
.centrar-texto{
    text-align: center;
}
.cabeceras_cont{
    display: flex;
    flex-direction: row;
}
.c1{
    border-color: gray;
    flex: 65%;
}

.c2{
    flex: 25%;
    border-color: gold;
}